In [1]:
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
import sncosmo
import varpop
import snpop

In [4]:
from snpop import SimpleSALTPopulation

In [12]:
from collections import OrderedDict

In [3]:
print(sncosmo.__version__)
print(varpop.__version__)
print(snpop.__version__)

1.5.3
0.0.3
0.0.4

In [5]:
zSamples = np.random.uniform(0, 1.0, size=10)
print(zSamples)

[ 0.76833124  0.37370393  0.54954057  0.69375886  0.14899521  0.84988322
  0.5270529   0.86519225  0.07605845  0.62789506]

In [6]:
sp = SimpleSALTPopulation(zSamples, rng=np.random.RandomState(1))

In [7]:
sp.idxvalues

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
sp.zSamples

array([ 0.76833124,  0.37370393,  0.54954057,  0.69375886,  0.14899521,
        0.84988322,  0.5270529 ,  0.86519225,  0.07605845,  0.62789506])

In [9]:
sp.cosmo

FlatLambdaCDM(name="Planck15", H0=67.7 km / (Mpc s), Om0=0.307, Tcmb0=2.725 K, Neff=3.05, m_nu=[ 0.    0.    0.06] eV, Ob0=0.0486)

In [10]:
sp.paramsTable

,M,Mabs,c,mB,t0,x0,x1,z,model
idx,,,,,,,,,
0,-0.528904,-19.847337,0.174481,23.609117,61102.130317,0.000006,-0.172428,0.768331,SALT2
1,0.335583,-19.104782,-0.076121,22.471895,62209.184401,0.000016,-0.877858,0.373704,SALT2
2,-0.104822,-19.445005,0.031904,23.127010,59580.417468,0.000009,0.042214,0.549541,SALT2
3,0.014193,-19.206254,-0.024937,23.979248,60683.513890,0.000004,0.582815,0.693759,SALT2
4,-0.338034,-19.741783,0.146211,19.577328,60115.659001,0.000234,-1.100619,0.148995,SALT2
5,0.520965,-18.838548,-0.206014,24.886621,59917.035871,0.000002,1.144724,0.849883,SALT2
6,0.002064,-19.401012,-0.032242,23.061877,60259.849772,0.000009,0.901591,0.527053,SALT2
7,0.065319,-19.361462,-0.038405,24.411348,60841.296654,0.000003,0.502494,0.865192,SALT2
8,-0.455098,-19.855785,0.113377,17.899846,61028.201281,0.001097,0.900856,0.076058,SALT2
9,0.420576,-18.881324,-0.109989,24.040646,61546.681079,0.000004,-0.683728,0.627895,SALT2

In [11]:
sp.modelParams(3)

OrderedDict([('M', 0.014192624391166336),
             ('Mabs', -19.206254055598105),
             ('c', -0.024937037547741011),
             ('mB', 23.979247822579627),
             ('t0', 60683.513890106216),
             ('x0', 4.0639598512598762e-06),
             ('x1', 0.58281521371582223),
             ('z', 0.69375885532476578),
             ('model', 'SALT2')])